{% extends "layout.html" %}

{% block body %}

<!-- alert message -->
{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible d-flex align-items-center" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<form action="{% url 'books' %}" method="post">
	{% csrf_token %}
	<div class="mb-3">
	  <label class="form-label">Book Title</label>
	  <input type="text" class="form-control" name="title" placeholder="Book Title">
	</div>
	<div class="mb-3">
	  <label class="form-label">Authors (separate multiple authors by forward slash(/).)</label>
	  <input type="text" class="form-control" name="authors" placeholder="Authors">
	</div>
	<div class="d-flex justify-content-end">
		<button type="submit" class="btn btn-light">Search</button>
	</div>
</form>
<br>
{% if books %}
<table class="table table-striped shadow">
	<thead>
    <tr>
    	<th scope="col">ID</th>
      <th scope="col">Book Title</th>
      <th scope="col">Authors</th>
      <th scope="col">ISBN</th>
      <th scope="col">Publisher</th>
      <th scope="col">Issued by</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    {% if book.member.username %}
    <tr>
    	<td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.authors }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.member.username }}</td>
      <td></td>
    {% else %}
    <tr class="delete">
    	<td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.authors }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.publisher }}</td>
      <td>--</td>
      <td>
      	<button type="button" class="btn btn-danger">Delete</button>
      </td>
    {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	dels = document.querySelectorAll('.delete')
	for (let i = 0; i < dels.length; i++) {
	  dels[i].addEventListener('click', () => {
		  swal({
			  title: "Are you sure?",
			  text: "Once deleted, you will not be able to recover this book's data!",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			}).then((willDelete) => {
			  if (willDelete) {
			    let callURL = `${document.location.protocol}//${document.location.host}/delete`;
			    axios.defaults.xsrfCookieName = 'csrftoken'
			    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
			    axios.post(callURL, {
			    	"data" : dels[i].innerText
			    })
			    swal("Poof! This book's data is vanished!", {
			      icon: "success",
			    }).then((res) => {
			    	if (res) {
			    		location.reload();
			    	}
			    });
			  } 
			  else {
			    swal("This book's data is safe!");
			  }
			});
	  })
	}	
</script>
{% endblock %}