{% extends "layout.html" %}

{% block body %}

<!-- alert message -->
{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible d-flex align-items-center" role="alert">
      <div>{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<form action="{% url 'books' %}" method="post">
	{% csrf_token %}
	<div class="mb-3">
	  <label class="form-label">Book Title</label>
	  <input type="text" class="form-control" name="title" placeholder="Book Title">
	</div>
	<div class="mb-3">
	  <label class="form-label">Authors (separate multiple authors by forward slash(/).)</label>
	  <input type="text" class="form-control" name="authors" placeholder="Authors">
	</div>
	<div class="d-flex justify-content-end">
		<button type="submit" class="btn btn-light">Search</button>
	</div>
</form>
<br>
{% if books %}
<table class="table table-striped shadow">
	<thead>
    <tr>
    	<th scope="col">ID</th>
      <th scope="col">Book Title</th>
      <th scope="col">Authors</th>
      <th scope="col">ISBN</th>
      <th scope="col">Publisher</th>
      <th scope="col">Issued by</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    {% if book.member.username %}
    <tr>
    	<td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.authors }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.member.username }}</td>
      <td></td>
      <td>
      	<a type="button" class="btn btn-success" href="{% url 'editbook' book.id %}">
      		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
					  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
					  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
					</svg>
      	</a>
      </td>
    {% else %}
    <tr class="delete">
    	<td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.authors }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.publisher }}</td>
      <td>--</td>
      <td>
      	<button type="button" class="btn btn-danger">
      		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
					  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
					  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
					</svg>
      	</button>
      </td>
      <td>
      	<a type="button" class="btn btn-success" href="{% url 'editbook' book.id %}">
      		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
					  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
					  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
					</svg>
      	</a>
      </td>
    {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	dels = document.querySelectorAll('.delete');
	btns = document.querySelectorAll('.btn-danger');
	for (let i = 0; i < dels.length; i++) {
	  btns[i].addEventListener('click', () => {
		  swal({
			  title: "Are you sure?",
			  text: "Once deleted, you will not be able to recover this book's data!",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			}).then((willDelete) => {
			  if (willDelete) {
			    let callURL = `${document.location.protocol}//${document.location.host}/deletebook`;
			    axios.defaults.xsrfCookieName = 'csrftoken'
			    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
			    axios.post(callURL, {
			    	"data" : dels[i].innerText
			    }).then((res) => {
			    	if (res.data.status == 'success') {
					    swal("Poof! This book's data is vanished!", {
					      icon: "success",
					    }).then((res) => {
					    	if (res) {
					    		location.reload();
					    	}
					    })	
			    	}
			    	else {
			    		swal("Unable to delete book record. Try again!", {
			    			icon: "error",
			    		});
			    	}
			    });
			  } 
			  else {
			    swal("This book's data is safe!");
			  }
			});
	  })
	}	
</script>
{% endblock %}