{% extends "layout.html" %}
{% load static %}

{% block head %}
<style type="text/css">
	.alert-fixed {
    position:fixed; 
    top: 20px;  
    width: 70%;
    z-index:9999; 
    border-radius:10px
	}
</style>
{% endblock %}

{% block body %}

<!-- <div id="liveAlertPlaceholder"></div> -->
<h1>Import Books via API</h1>

<p>To add a book that is not present through the API, go to <a href="{% url 'addbook' %}">addbook</a> page.</p>

<form action="{% url 'getbooks' %}" method="post" class="row g-3">
	{% csrf_token %}
	<div class="col-sm-2">
	  <input type="text" class="form-control" name="title" placeholder="Book Title">
	</div>

	<div class="col-sm-2">
	  <input type="text" class="form-control" name="authors" placeholder="Authors">
	</div>

	<div class="col-sm-2">
	  <input type="text" class="form-control" name="isbn" placeholder="ISBN">
	</div>

	<div class="col-sm-2">
	  <input type="text" class="form-control" name="publisher" placeholder="Publisher">
	</div>

	<div class="col-sm-2">
	  <input type="text" class="form-control" name="page" placeholder="Page">
	</div>

	<div class="col-sm-2">
		<button type="submit" class="btn btn-light">Search</button>
	</div>
</form>

<br>

{% if books %}
<table class="table table-striped shadow">
	<thead>
    <tr>
      <th scope="col">Book Title</th>
      <th scope="col">Authors</th>
      <th scope="col">ISBN</th>
      <th scope="col">Publisher</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.authors }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.publisher }}</td>
      <td>
      	<div class="col-sm-5">
      		<input type="number" class="form-control" min=1 name="stock">
      	</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- alert message -->
<div class="align-items-center" id="liveAlertPlaceholder"></div>

<!-- add books button -->
<p align="right">To import books to the library database click on Add Books button.</p>
<div class="d-flex justify-content-end">
	<button type="button" class="btn btn-success" id="addbooks">Add Books</button>
</div>
{% endif %}

<br>
<script type="text/javascript" src="{% static 'books_view.js' %}"></script>

{% endblock %}