{% extends "layout.html" %}

{% block body %}

<center>
	<!-- alert message -->
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'alert-info' %}
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			<script>
				swal("You have to pay {{ message }}. Click on Pay to proceed.", {
					button: "Pay",
					icon:"info"
				}).then((value) => {
					if (value) {
						swal("Paid", "The Amount of {{ message }} is paid", "success");
						return true;
					}
					return false;
				});
			</script>
			{% else %}
			<div class="alert {{ message.tags }} alert-dismissible d-flex align-items-center" role="alert">
				<div>{{ message }}</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<h2>Issue a book</h2>
	<br>
	<div class="card shadow" style="width: 50%;">
	    <!-- <img src="https://as1.ftcdn.net/v2/jpg/05/30/78/48/1000_F_530784876_tVVLgkCNenjbjs8nNIucVZDN9YLoePdI.jpg" class="card-img-top" alt="book shelf image"> -->
	    <div class="card-body">
			<form action="{% url 'issuebooks' %}" method="post" class="row g-3">
			  {% csrf_token %}
				<div class="col-sm-12">
					<input type="text" class="form-control" name="username" placeholder="Username" required>
				</div>

				<div class="col-sm-12">
					<input type="text" class="form-control" name="isbn" placeholder="Book ISBN" required>
				</div>
				<div class="col-sm-12 d-flex justify-content-end">
					<button type="submit" class="btn btn-success">Issue book</button>
				</div>
			</form>
	    </div>
	</div>
	<br>
	<br>
	<br>
	<h2>Return a book</h2>
	<br>
	<div class="card shadow" style="width: 50%;">
	    <div class="card-body">
			<form action="{% url 'returnbooks' %}" method="post" class="row g-3">
			  {% csrf_token %}
				<div class="col-sm-12">
					<input type="text" class="form-control" name="username" placeholder="Username" required>
				</div>

				<div class="col-sm-12">
					<input type="text" class="form-control" name="bookID" placeholder="Book ID" required>
				</div>
				<div class="col-sm-12 d-flex justify-content-end">
					<button type="submit" class="btn btn-success" id="returnbooks">Return book</button>
				</div>
			</form>
	    </div>
	</div>
</center>

{% endblock %}